<%= form_with(model: price_list, local: true) do |form| %>
  <% if price_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_list.errors.count, "error") %> prohibited this price_list from being saved:</h2>

      <ul>
      <% price_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :utilidad %>
    <%= form.text_field :utilidad %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :user_uid %>
    <%= form.number_field :user_uid %>
  </div>
  <div class="field">
    <%= form.label :default %>
    <%= form.check_box :default %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
