<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @warehouse.ref %>
</p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warehouse.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @warehouse.active %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
